## 1) Importa칞칚o dos packages necess치rios

In [1]:
import requests
import ast
import pandas as pd
import time
from urllib.error import URLError, HTTPError
from urllib.request import Request, urlopen
import bs4

## 2) Retirar a informa칞칚o da p치gina web

In [2]:
# Informa칞칚o do agente

agente = "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Mobile Safari/537.36"
headers = {'User-Agent': agente}

In [3]:
# Fun칞칚o para chamar a p치gina WEB

def ConsultaWebB(url):
    try:
        req = Request(url, headers = headers)
        response = urlopen(req)
        return response.read()

    except:
        pass

In [4]:
#teste  fun칞칚o:
#ConsultaWebB('https://www.legislador.com.br//LegisladorWEB.ASP?WCI=ProposicaoTexto&ID=3&TPProposicao=1&nrProposicao=200&aaProposicao=2021')

In [5]:
# Fun칞칚o para transformar a p치gina encontrada em um objeto utiliz치vel

def captura_html_pagina(url):
    html = ConsultaWebB(url)
    soup = bs4.BeautifulSoup(html, 'html.parser')    
    return soup

In [6]:
#teste
#captura_html_pagina('https://www.legislador.com.br//LegisladorWEB.ASP?WCI=ProposicaoTexto&ID=3&TPProposicao=1&nrProposicao=200&aaProposicao=2021')

In [7]:
# Fun칞칚o para retirar as informa칞칫es do cabe칞alho da p치gina

def Cabecalho(html):
    dt = html.find_all('dt')
    dd = html.find_all('dd')
    dic = {}
    for i in range(len(dt)):
        x = dt[i].get_text()
        y = dd[i].get_text() 
        dic[x] = y
    return dic

In [8]:
#teste
#url='https://www.legislador.com.br//LegisladorWEB.ASP?WCI=ProposicaoTexto&ID=3&TPProposicao=1&nrProposicao=200&aaProposicao=2021'
#html = captura_html_pagina(url)
#Cabecalho(html)

In [9]:
# Fun칞ao para retirar o conte칰do da p치gina e transformar em um dicion치rio
def Conteudo(proposicao, ano):
    url='https://www.legislador.com.br//LegisladorWEB.ASP?WCI=ProposicaoTexto&ID=3&TPProposicao=1&nrProposicao='+str(proposicao)+'&aaProposicao='+str(ano)
    html = captura_html_pagina(url) # fun칞칚o para transformar a p치gina encontrada em um objeto utiliz치vel - utiliza o beautiful soup
    dic = Cabecalho(html) # fun칞칚o que retira a informa칞칚o do cabe칞alho e coloca num dicion치rio - vari치veies: Reuni칚o, Delibera칞칚o, Situa칞칚o, Assunto e Autor (utilizam os mesmos marcadores - dt e dd)
    dic['Proposi칞칚o'] = proposicao #acrescento no dicion치rio informa칞칚o do n.췈 da proposi칞칚o - informa칞칚o no url e input da fun칞칚o
    dic['Ano'] = ano #acrescento no dicion치rio informa칞칚o do ano -informa칞칚o do url e input da fun칞칚o
    dic['Texto'] = html.p.get_text() #acrescento no dicion치rio informa칞칚o do texto (utiliza o marcador p)
    return dic

In [10]:
#Teste
Conteudo(200,2021)

{'Reuni칚o': '11/02/2021',
 'Delibera칞칚o': '11/02/2021',
 'Situa칞칚o': 'Proposi칞칚o Aprovada',
 'Assunto': 'Manuten칞칚o de via p칰blica',
 'Autor': 'VereadorValentim Blasius.',
 'Proposi칞칚o': 200,
 'Ano': 2021,
 'Texto': 'O Vereador abaixo firmado requer, ap칩s ouvido o Plen치rio, encaminhamento de c칩pia da presente Indica칞칚o  Secretaria de Urbaniza칞칚o e Meio Ambiente solicitando manuten칞칚o de cal칞ada da rua 25 de Maio, defronte ao n췈 266, Carij칩s. A pedido de moradores.'}

In [11]:
#Fun칞칚o final - vou criar uma fun칞칚o que coloca a informa칞칚o de cada p치gina num dicion치rio, depois acrescento cada dicion치rio numa lista e no final transformo num dataframe
# utiliza칞칚o do try except para evitar os erros no url (por exemplo n칚o existirem)

def TabelaResultados(inicar_em, quantidade, ano, erros_admissiveis, segundos_espera):

    ultima_consulta = inicar_em + quantidade - 1

    # erros
    erros = 0

    # variaveis para loop
    i = 1
    lista = []

    while inicar_em <= ultima_consulta and erros <= erros_admissiveis:

        try:
            x = Conteudo(inicar_em,ano)
            lista = lista + [Conteudo(inicar_em,ano)]
        except:
            erros += 1
            pass

        time.sleep(segundos_espera)

        # carregamento incremental das vari치veis
        inicar_em+=1 
        i+=1


    return pd.DataFrame(lista)

In [12]:
#teste
teste = TabelaResultados(401,10,2021,2,0.2)
teste

,Ano,Assunto,Autor,Delibera칞칚o,Proposi칞칚o,Reuni칚o,Situa칞칚o,Texto
0,2021,"Limpeza, Macadamiza칞칚o, Patrolamento, Retifica...",VereadorRoger Michel Knipers.,15/03/2021,401,15/03/2021,Proposi칞칚o Aprovada,"O vereador abaixo firmado requer, ap칩s ouvido ..."
1,2021,Manuten칞칚o de via p칰blica,VereadorAna Paula Reiter.,15/03/2021,402,15/03/2021,Proposi칞칚o Aprovada,"A vereadora abaixo firmada requer, ap칩s ouvido..."
2,2021,Manuten칞칚o de via p칰blica,VereadorJonas Luiz de Lima.,NaN,403,18/03/2021,Entrada na Ordem do Dia,"O Vereador abaixo firmado requer, ap칩s ouvido ..."
3,2021,"Limpeza, Macadamiza칞칚o, Patrolamento, Retifica...",VereadorFl치vio Augusto Ferri Molinari.,NaN,404,18/03/2021,Entrada na Ordem do Dia,"O vereador que est치 subscreve, no uso das atri..."
4,2021,"Limpeza, Macadamiza칞칚o, Patrolamento, Retifica...",VereadorFl치vio Augusto Ferri Molinari.,NaN,405,18/03/2021,Entrada na Ordem do Dia,"O vereador que est치 subscreve, no uso das atri..."
5,2021,Manuten칞칚o de via p칰blica,VereadorFl치vio Augusto Ferri Molinari.,NaN,406,18/03/2021,Entrada na Ordem do Dia,"O vereador que est치 subscreve, no uso das atri..."
6,2021,"Limpeza, Macadamiza칞칚o, Patrolamento, Retifica...",VereadorDiogo de Pinho.,NaN,407,18/03/2021,Entrada na Ordem do Dia,"O vereador que esta subscreve, no uso das atri..."
7,2021,Manuten칞칚o de via p칰blica,VereadorFernanda dos Santos Cattoni.,NaN,408,18/03/2021,Entrada na Ordem do Dia,"A vereadora abaixo firmada requer, ap칩s ouvido..."
8,2021,"Pontes, Bueiros, boca de lobo",VereadorFernanda dos Santos Cattoni.,NaN,409,18/03/2021,Entrada na Ordem do Dia,"A vereadora que esta subscreve, no uso das atr..."
9,2021,Manuten칞칚o de via p칰blica,VereadorFernanda dos Santos Cattoni.,NaN,410,18/03/2021,Entrada na Ordem do Dia,"A vereadora que esta subscreve, no uso das atr..."

## 2) Criar a base de dados (sqlite3) e tabela

### 2.1) Criar a base de dados utilizando o sqlite3 e a tabela proposi칞칫es

### 2.2) Alternativa - criar atrav칠s do c칩digo

In [13]:

import sqlite3 #package sqlite
conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\alternativa.sqlite") #cria o ficheiro sql - neste caso sqlite
cur = conn.cursor() #uma esp칠cie de handle

#criar  a tabela proposi칞칫es - primiero elimino se existir e depois crio a nova tabela
cur.executescript('''

DROP TABLE IF EXISTS Proposicoes;

CREATE TABLE Proposicoes (
    DataReuniao DATE,
    DataDeliberacao DATE,
    Situacao VARCHAR(200),
    Assunto VARCHAR(1000),
    Autor VARCHAR(1000),
    Proposicao INT,
    Ano INT,
    Texto VARCHAR(8000)
)
''')

### Fim 2.1 e 2.2

In [14]:
#package e liga칞칚o  base de dados
import sqlite3 #package sqlite
#conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\Indaial.db")
conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\alternativa.sqlite")
cur = conn.cursor() #uma esp칠cie de handle

In [15]:
#teste de consulta
query='''
select *
from Proposicoes
limit 10
'''
#Utilizo o panda para executar a query - query e conn (conex칚o)
sql_query=pd.read_sql_query(query,conn)
sql_query

Empty DataFrame
Columns: [DataReuniao, DataDeliberacao, Situacao, Assunto, Autor, Proposicao, Ano, Texto]
Index: []

In [16]:
# Criamos uma base (estou a criar um DataFrame com as colunas todas que quero vazio de modo a ter sempre as colunas todas)
base = pd.DataFrame(columns=['Reuni칚o', 'Delibera칞칚o', 'Situa칞칚o', 'Assunto', 'Autor', 'Proposi칞칚o', 'Ano', 'Texto'])
base

Empty DataFrame
Columns: [Reuni칚o, Delibera칞칚o, Situa칞칚o, Assunto, Autor, Proposi칞칚o, Ano, Texto]
Index: []

In [17]:
# fun칞칚o personalizada para fazer querys

def SQLSelect(query):
    
    #conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\Indaial.db")
    conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\alternativa.sqlite")

    out = pd.read_sql_query(query,conn)
    return out

In [18]:
SQLSelect('''
    select *
    from Proposicoes
    limit 5
''')

Empty DataFrame
Columns: [DataReuniao, DataDeliberacao, Situacao, Assunto, Autor, Proposicao, Ano, Texto]
Index: []

In [19]:
#colocar a inser칞칚o de dados numa fun칞칚o
def SQLInsertProposicoes(TabelaProposicoes):
    
    base = pd.DataFrame(columns=['Reuni칚o', 'Delibera칞칚o', 'Situa칞칚o', 'Assunto', 'Autor', 'Proposi칞칚o', 'Ano', 'Texto']) #cria a tabela de base - DataFrame (importante porque alguns )
    TabelaProposicoes = base.append(TabelaProposicoes).fillna('')

    #conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\Indaial.db")
    conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\alternativa.sqlite")

    cursor = conn.cursor()

    for index, row in TabelaProposicoes.iterrows():

        cursor.execute('''

            INSERT INTO Proposicoes (
                DataReuniao,
                DataDeliberacao,
                Situacao,
                Assunto,
                Autor,
                Proposicao,
                Ano,
                Texto
            ) 
            values(?,?,?,?,?,?,?,?)''', 

            [row['Reuni칚o'], 
            row['Delibera칞칚o'], 
            row['Situa칞칚o'], 
            row['Assunto'], 
            row['Autor'], 
            row['Proposi칞칚o'], 
            row['Ano'], 
            row['Texto']]

        )

    conn.commit()
    cursor.close()

In [20]:
#teste
SQLInsertProposicoes(teste)
SQLSelect('''
    select *
    from Proposicoes
    limit 5
''')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,15/03/2021,15/03/2021,Proposi칞칚o Aprovada,"Limpeza, Macadamiza칞칚o, Patrolamento, Retifica...",VereadorRoger Michel Knipers.,401,2021,"O vereador abaixo firmado requer, ap칩s ouvido ..."
1,15/03/2021,15/03/2021,Proposi칞칚o Aprovada,Manuten칞칚o de via p칰blica,VereadorAna Paula Reiter.,402,2021,"A vereadora abaixo firmada requer, ap칩s ouvido..."
2,18/03/2021,,Entrada na Ordem do Dia,Manuten칞칚o de via p칰blica,VereadorJonas Luiz de Lima.,403,2021,"O Vereador abaixo firmado requer, ap칩s ouvido ..."
3,18/03/2021,,Entrada na Ordem do Dia,"Limpeza, Macadamiza칞칚o, Patrolamento, Retifica...",VereadorFl치vio Augusto Ferri Molinari.,404,2021,"O vereador que est치 subscreve, no uso das atri..."
4,18/03/2021,,Entrada na Ordem do Dia,"Limpeza, Macadamiza칞칚o, Patrolamento, Retifica...",VereadorFl치vio Augusto Ferri Molinari.,405,2021,"O vereador que est치 subscreve, no uso das atri..."

In [21]:
# Estou a utilizar um f e {} - c칩digo para truncar a tabela

#The TRUNCATE T#ABLE statement is used to remove all records from a table.

#SQLite does not have an explicit TRUNCATE TABLE command like other databases. 
#Instead, it has added a TRUNCATE optimizer to the DELETE statement. To truncate a table in SQLite, you just need to execute a DELETE statement without a WHERE clause. 
#The TRUNCATE optimizer handles the rest. Let's explain.

def SQLTruncate(NomeTabela):

    #conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\Indaial.db")
    conn = sqlite3.connect(r"C:\Users\fiu126\Desktop\Coursera\Maratona Power BI e Python\alternativa.sqlite")


    cursor = conn.cursor()

    cursor.execute(f'''

                   DELETE FROM {NomeTabela}

                   ''')

    conn.commit()
    cursor.close()

In [22]:
# Limpando dados da tabela
SQLTruncate('Proposicoes')

# Visualizando a tabela
SQLSelect('select *from Proposicoes')

Empty DataFrame
Columns: [DataReuniao, DataDeliberacao, Situacao, Assunto, Autor, Proposicao, Ano, Texto]
Index: []

## 3) Alimenta칞칚o Incremental

In [23]:
# ========= INICIO =========
ano = 2021

dados_ano = SQLSelect(f'select max(Proposicao) as Proposicao from Proposicoes where Ano = {ano}') #query ao m치ximo de proposi칞칚o - saber qual foi a 칰ltima informa칞칚o carregada
ultima_proposicao = dados_ano['Proposicao'].loc[0] # retiro o valor


#condi칞칚o que garante se o resultado for nulo ele considera 1
# ----- INICIO ALTERA칂츾O ----- 
if ultima_proposicao == None: #'None' - plalavra reservada no python
    proxima_proposicao = 1
else:
    proxima_proposicao = int(ultima_proposicao) + 1 
# ----- FIM ALTERA칂츾O ----- 


dados = Conteudo(proxima_proposicao,ano)
tabela = pd.DataFrame([dados])
SQLInsertProposicoes(tabela)
# ========= FIM =========


# visualizando dados
SQLSelect('select * from Proposicoes')

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,01/02/2021,01/02/2021,Proposi칞칚o Aprovada,Tr칙nsito,VereadorRemir Jos칠 de Faveri.,1,2021,"O vereador que esta subscreve, no uso das atri..."

In [24]:
#criar uma fun칞칚o

def InsereProximaProposicao(ano):

    # identifica  a 칰ltima proposi칞칚o registada 
    dados_ano = SQLSelect(f'select max(Proposicao) as Proposicao  from Proposicoes where Ano = {ano}')
    ultima_proposicao = dados_ano['Proposicao'].loc[0]

    # Verifica se foi identificado qualquer lan칞amento naquele ano
    if ultima_proposicao == None:
        proxima_proposicao = 1
    else:
        proxima_proposicao = int(ultima_proposicao) + 1 

    # Captura e Insere dados na tabela
    dados = Conteudo(proxima_proposicao,ano)
    tabela = pd.DataFrame([dados])
    SQLInsertProposicoes(tabela)

In [25]:
#teste
InsereProximaProposicao(2021)
# visualizando dados
SQLSelect('select * from Proposicoes')

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,01/02/2021,01/02/2021,Proposi칞칚o Aprovada,Tr칙nsito,VereadorRemir Jos칠 de Faveri.,1,2021,"O vereador que esta subscreve, no uso das atri..."
1,01/02/2021,01/02/2021,Proposi칞칚o Aprovada,Manuten칞칚o de via p칰blica,VereadorRemir Jos칠 de Faveri.,2,2021,"O vereador abaixo firmado requer, ap칩s ouvido ..."

In [26]:
# limpar a informa칞칚o da tabela
SQLTruncate('Proposicoes')

# Visualizar o resultado
SQLSelect('select *from Proposicoes')

Empty DataFrame
Columns: [DataReuniao, DataDeliberacao, Situacao, Assunto, Autor, Proposicao, Ano, Texto]
Index: []

In [27]:
#importa칞칚o da informa칞칚o de um ano espec칤fico - por exemplo 1996 (a condi칞칚o de paragem 칠 enquanto n칚o existir dois erros)

ano = 1996
quantidade = 999999
erros_admissiveis = 2
segundos_espera = 0

# erros
erros = 0

# variaveis para loop
i = 1
lista = []

while erros <= erros_admissiveis:

    try:
        InsereProximaProposicao(ano)
    except:
        erros += 1
        pass

    time.sleep(segundos_espera)

    # carregamento incremental das vari치veis
    i +=1

In [28]:
# Visualizar o resultado - 1996 tem 24 proposi칞칫es
SQLSelect('select count(*) from Proposicoes')

   count(*)
0        24

In [29]:
#colocar os parametros numa fun칞칚o
def BuscaGravaDadosAno(ano, quantidade = 10, erros_admissiveis = 2, segundos_espera = 0):

    # erros
    erros = 0

    # variaveis para loop
    i = 1
    lista = []

    while erros <= erros_admissiveis:

        try:
            InsereProximaProposicao(ano)
        except:
            erros += 1
            pass

        time.sleep(segundos_espera)

        # carregamento incremental das vari치veis
        i +=1

In [30]:
BuscaGravaDadosAno(1996,9999,2,1)
SQLSelect('select count(*) from Proposicoes')

   count(*)
0        24

In [31]:
# Limpando dados da tabela
SQLTruncate('Proposicoes')

# Visualizando a tabela
SQLSelect('select *from Proposicoes')

Empty DataFrame
Columns: [DataReuniao, DataDeliberacao, Situacao, Assunto, Autor, Proposicao, Ano, Texto]
Index: []

In [32]:
# colocar num for loop - retirar toda a informa칞칚o - 1996 a 2021
ano_inicial = 2020
ano_final = 2021

for i in list(range(ano_inicial, ano_final+1)):
    print('Iniciando grava칞칚o dos dados do ano: ',i)
    try:
        BuscaGravaDadosAno(i, quantidade = 999999)
    except:
        pass
    
print('Inser칞칚o finalizada 游때')

Iniciando grava칞칚o dos dados do ano:  2020
Iniciando grava칞칚o dos dados do ano:  2021
Inser칞칚o finalizada 游때